@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  border: 0px;
  vertical-align: middle;
}

button {
  border: 0;
  background: transparent;
}

.container {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

body {
  font-weight: 300;
  font-family: "NotoKr", sans-serif;
  font-size: 16px;
  color: #101010;
  line-height: 26px;
}

/* header 영역 */
header {
  width: 100%;
  height: 91px;
  border-bottom: 2px solid #d6d6d6;
  overflow: hidden;
  position: relative
}

#header nav .menu {
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#header nav .menu li a {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: #444444;
}

#header .menu .logo {
  text-align: center;
  flex-grow: 0.2;
}

#header nav .menu_btn {
  margin-top: 10px;
  outline: 0;
  color: #101010;
  background: none;
  border: 0px;
}

.menu>li a {
  position: relative;
}

.menu>li>a::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 50%;
  width: 0;
  height: 6px;
  background-color: #1AA5A7;
  transition: all 0.4s;
}

.menu>li:hover a::after {
  width: 100%;
  left: 0;
}

.menu li.main_menu:hover a.main_menu01 {
  color: #1AA5A7;
  transition: all 0.1s ease-in-out;
}

.menu ul {
  position: absolute;
  padding-top: 30px;
  z-index: 999;
}

.menu ul>li {
  padding-top: 20px;
  width: 100%;
}


/* header end */

main {
  position: relative;
  padding-bottom: 50px;
}
main .ad_youtube {
  position: absolute;
  left: 975px;
  top: 500px;
  
}

.mainImg {
  width: 100%;
  height: 80vh;
  background-image: url(https://www.raemian.co.kr/upload/mainVisual/mainVisual_89548815.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* main contents */

/* main_sns */

.main_sns {
  position: relative;
  bottom: -80px;
  width: 1070px;
  margin: 0 auto;
  padding: 50px 0px;
  opacity: 0;
  transition: all 1s ease;
}


.main_sns h1 {
  position: relative;
  margin: 0px 204px 0px 0px;
  text-align: left;
  font-size: 40px;
  line-height: 60px;
  margin-right: 70px;
  
}


.main_sns .sns_h1 {
  position: relative;
  float: left;
  opacity: 1;
  transition: all 1s ease;

}

.main_sns::after {
  content: "";
  display: block;
  clear: both;
}

.main_sns h1::after {
  content: '';
  display: inline-block;
  position: relative;
  top: -2px;
  width: 224px;
  height: 3px;
  background-color: #1AA5A7;
  vertical-align: middle;
  margin-left: 40px;
}


.main_sns ul li a img {
  max-width: 100%;
  border: 0px;
  vertical-align: middle;
  text-align: center;
}

.main_sns ul li {
  position: relative;
  float: left;
  width: 130px;
  margin-right: 5px;
}

.main_sns ul li a {
  display: block;
  text-align: center;
}

.main_sns ul li a span {
  display: block;
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.main_sns ul li a span.last {
  margin-top: 25px;
}

/* main_sns end */

/* main_con1 */
#main_pre_sale .scr2 {
  width: 450px;
  height: 440px;
  position: relative;
  bottom: -70px;
  opacity: 0;
  transition: all 1s ease;
  cursor: pointer;
}

#main_pre_sale .scr2:nth-child(2) {
  transition-delay: 0.2s;
}

#main_pre_sale .scr2:nth-child(3) {
  transition-delay: 0.3s;
}

#main_con1 {
  padding: 50px 0;
}

#main_pre_sale {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pre_sale_box1,
.pre_sale_box2,
.pre_sale_box3 {
  position: relative;
}

#main_pre_sale li .expected {
  padding: 17px 0px 19px;
  background-color: #1B9C9E;
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0px;
  width: 80px;
  color: white;
  text-align: center;
  line-height: 22px;
  font-weight: 400;
}

#main_pre_sale li {
  position: relative;
}

#main_pre_sale .expected_img1,
.expected_img2,
.expected_img3 {
  position: relative;
  width: 100%;
}

#main_pre_sale .name {
  margin: 11px 0px;
  font-weight: 700;
  font-size: 40px;
  line-height: 59px;
  font-size: 31px;
}

#main_pre_sale .adress {
  font-weight: 400;
  font-size: 18px;
}

#main_pre_sale .expected_box1,
.expected_box2,
.expected_box3 {
  width: 425px;
  height: 225px;
  background-color: white;
  box-shadow: 10px 15px 20px rgb(0 0 0 / 10%);
  position: absolute;
  top: 200px;
  right: 0px;
  padding: 50px 40px 47px;
}

#main_pre_sale strong {
  color: #1B9C9E;
}

.expected_box1 .heart_logo {
  position: absolute;
  top: 26px;
  right: 21px;
}

.expected_box1 .heart_logo i {
  font-size: 25px;
  color: #938989;
}

.expected_box2 .heart_logo2 {
  position: absolute;
  top: 26px;
  right: 21px;
}

.expected_box2 .heart_logo2 i {
  font-size: 25px;
  color: #938989;
}

.expected_box3 .heart_logo3 {
  position: absolute;
  top: 26px;
  right: 21px;
}

.expected_box3 .heart_logo3 i {
  font-size: 25px;
  color: #938989;
}

.container .btn_guide {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 35px;
  top: 140px;
  z-index: 5;
  transition: all 1s ease;
  opacity: 0;
  top: 100px;
}


.btn_guide i {
  margin-top: 22px;
  font-size: 12px;
  cursor: pointer;
}

.btn_guide button {
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  cursor: pointer;
}


.btn_guide #fst {
  color: #1B9C9E;
}



#songdo_banner {
  padding-bottom: 50px;
  z-index: 3;
  position: relative;
  opacity: 0;
  transition: all 1s ease;
  top: -50px;
}

#songdo_banner .banner1 {
  position: relative;
  margin-bottom: 100px;
}

.banner1 {
  margin-top: 200px;
}


#main_gallery {
  position: relative;
  top: -30px;
  padding: 50px 0;
}

#main_gallery .gallery-academy {
  position: relative;
}

.gallery-academy li {
  position: relative;
  display: inline-block;

}

.gallery-academy .gallery {
  position: relative;
  opacity: 0;
  transition: all 1.2s ease;
}

.gallery-academy .academy {
 
  position: absolute;
  top: 50px;
  right: 0px;
  opacity: 0;
  transition: all 1.2s ease 0.25s;

}

.gallery a,
.academy a {
  display: block;
  padding-top: 17px;
  margin-top: 17px;
}

.gallery-academy p.category {
  display: inline-block;
  padding: 0px 0px 9px 45px;
  margin-bottom: 17px;
  border-bottom: 2px solid #1B9C9E;
  color: #1B9C9E;
  font-weight: 500;
  line-height: 24px;
}

.gallery-academy p.subject {
  padding-left: 45px;
  font-size: 30px;
  line-height: 44px;
  font-weight: 500;
}

.photo_both {
  width: 780px;
  height: 505px;
  overflow: hidden;
}
.photo_both.second {
  width: 708px;
}

.photo_both>img {
  transition: all 1s ease;
}

.photo_both:hover>img {
  transform: scale(1.25);
}


.gallery-academy a.btn:hover>img {
  transform: rotate(180deg)
}

.gallery-academy a.btn img {
  transition: all 1s ease;
}

.gallery-academy a.btn:hover {
  opacity: 1;
  transition: all 0.3 ease;
}



.gallery-academy .btn {
  position: absolute;
  top: -17px;
  left: 0px;
  width: 780px;
  height: 505px;
  box-sizing: border-box;
  padding: 179px 0px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.3s ease all;
}

.gallery-academy #btn_01 {
  width: 708px;
}

.gallery-academy .txt {
  display: block;
  margin-top: 25px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
}

/* main_con1 end */

/* main_user_menu  */
#main_user_menu {
  padding: 50px 0;
}

.menu_list {
  position: relative;
  top: -30px;
  padding: 50px 16px;
  border: 4px solid #D6D6D6;
  overflow: hidden;
  opacity: 0;
  transition: all 1.2s ease;
}

.menu_list li {
  float: left;
  position: relative;
  padding: 0px 44px 0px 45px;
}

.menu_list li::after {
  content: '';
  display: block;
  width: 1px;
  height: 62px;
  position: absolute;
  top: 7px;
  left: 0px;
  background-color: #D6D6D6;
}

.menu_list li:first-child::after {
  display: none;
}

.menu_list span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

/* main_user_menu end  */


/* main_times */
#main_times_wrap {
  width: 100%;
  position: relative;
  background: url(../images/bg_times.jpg) no-repeat center bottom;
  background-size: cover;
  height: 680px;
}

#main_times_wrap::before {
  content: '';
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 135px;
  background-color: white;
}

#main_times {
  position: relative;
  top: -30px;
}

.times_list {
  position: relative;
  padding: 50px 0;
  padding-left: 0;
  padding-top: 68px;
  opacity: 0;
  transition: all 1.2s ease;
  z-index: 2;
}

.times_list::after {
  content: "";
  display: block;
  clear: both;
}

.times_list li {
  position: relative;
  z-index: 2;
  float: left;
  width: 330px;
  margin-left: 40px;
}

.times_list li:first-child {
  margin-left: 0;
}

.times_list li:nth-child(2) a {
  background-color: #1B9C9E;
}

.times_list li:nth-child(4) a {
  background-color: #907E72;
  ;
}

.times_list li a {
  position: relative;
  top: 0px;
  display: block;
  padding: 40px 0px 37px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  background-color: white;
  transition: all 0.3s ease;
}

.times_list li a .subject {
  height: 80px;
  margin: 21px 35px 30px;
  font-size: 28px;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  font-weight: 600;
}

.times_list li:nth-child(2n) .subject {
  color: white;
}

.times_list p.category {
  font-weight: 500;
  text-align: center;
  color: #907E72;
}

.times_list li:nth-child(2n) .category {
  color: white;
}

.times_list p.photo {
  padding-left: 30px;
}

.times_list p.date {
  padding-left: 30px;
  margin-top: 30px;
}

.times_list p.last_txt {
  padding: 0 35px;
  color: white;
  font-weight: 400;
}

ul.times_list li:hover a {
  position: relative;
  top: -30px;
}

/* main_times end*/


/* main_news  */
#main_news {
  position: relative;
  top: 150px;
  padding: 32px 106px 76px 174px;
  margin-top: -120px;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 80px;
  opacity: 0;
  transition: all 1s ease;
}

#main_news h2 {
  position: absolute;
  top: 55px;
  left: 60px;
  margin-bottom: 0px;
  font-size: 18px;
  text-align: left;
  line-height: 20px;
}

#main_news strong {
  padding: 4px 10px 4px 11px;
  margin-right: 12px;
  border: 2px solid #101010;
  border-radius: 100px;
  font-size: 14px;
  line-height: 20px;
}

#main_news a {
  font-weight: 400;
}

#main_news span {
  position: absolute;
  top: 50px;
  right: 110px;

  font-size: 16px;
  line-height: 20px;
  color: #888888;
}

#main_news .btn_guide_set {
  position: absolute;
  top: 40px;
  right: 60px;
  width: 12px;
  line-height: 0;
}
#main_news .btn_guide_set button {
  cursor: pointer;
}

/* main_news end */

/* main_event */
#main_event {
  padding-bottom: 100px;
}

#event_banner {
  position: relative;
  top: 80px;
}

#event_banner:nth-child(1) {
  opacity: 0;
  transition: all 1s ease;
}

#event_banner:nth-child(2) {
  opacity: 0;
  transition: all 1s ease 0.2s;
}

.main_event_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 0;
}

/* main_event end */

/* footer */
#footer_wrap {
  background-color: #333333;
  width: 100%;
}

#footer {
  position: relative;
  width: 1440px;
  padding: 35px 0px 30px;
  margin: 0px auto;
  color: white;
}

.footer_logo {
  line-height: 1;
  font-size: 1px;
  margin-bottom: 18px;
}

.footer_co12 {
  display: flex;
  position: absolute;
  top: 38px;
  right: 0px;
  gap: 25px;
}

.footer_co12 li a {
  font-weight: 400;
  line-height: 24px;
  color: #d6d6d6;
}

.footer_co12 li a strong {
  color: white;
}

#footer ul.sns {
  display: flex;
  position: absolute;
  top: 85px;
  right: 0px;
  text-align: right;
  line-height: 1;
  gap: 20px;
}

#footer ul.sns img {
  max-width: 100%;
  border: 0px;
  vertical-align: middle;
}

#footer p {
  font-size: 14px;
  color: #888888;
  letter-spacing: 0px;
}

#footer .copyright {
  margin-top: 9px;
  font-size: 13px;
  line-height: 16px;
  color: #888888;
  letter-spacing: 0px;
}

#aside {
  padding: 17px 0 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.foot_award_list {
  width: 1440px;
  margin: 0px auto;
  display: flex;
  gap: 45px;
}

.foot_award_list li img {
  displat: inline-block max-width: 100%;
  border: 0px;
  vertical-align: middle;
}

.foot_award_list li {

  padding: 0 !important;
  margin: 0 !important;
  color: white;
}

.foot_award_list li span.txt {
  display: inline-block;
  vertical-align: middle;
  margin-left: 13px;
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
}

/* footer end */

/* 고정 버튼 */
.btn_quick_search {
  position: fixed;
  z-index: 8;
  top: 180px;
  right: 0px;
}

#btn_top1 {
  position: fixed;
  z-index: 8;
  top: 600px;
  cursor: pointer;
}

.btn_top {
  right: 30px;
  width: 60px;
  height: 60px
}

@media (max-width: 1200px){
  .main_sns {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }  
  .container {
    width: 100%;
  }
  .sns_h1 {
    margin-bottom: 2rem;
  }

  #main_pre_sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #main_pre_sale li.scr2 {
    margin-bottom: 2rem;
  }
  #main_gallery {
    display: inline-flex;
    justify-content: center;
  }

  .gallery-academy {
    display: flex;
    flex-direction: column;
  }
  .gallery-academy .academy {
    position: inherit;
  }

  .times_list li:nth-child(1) {
    margin-left: 7rem;
  }
  .times_list li:nth-child(3) {
    margin-left: 7rem;
    margin-top: 4rem;
  }
  .times_list li:nth-child(4) {
    margin-top: 4rem;
  }
  #main_news {
   display: inline-flex;
  }
  .news_txt {
    margin-top: 1.2rem;
  }
  #footer {
    width: 100vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer_co12 {
    position: inherit;
  }
  #footer ul.sns {
    position: inherit;
  }
  #footer p.first_p {
    margin-top: 7.5rem;
  }
  
  .foot_award_list {
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}




@media (max-width: 800px) {

  .main_sns {
    width: 100vw;
    margin: 0 auto;
  }
  .sns_h1 h1 {
    margin-bottom: 2rem;
    width: 100vw;
    margin-left: 15rem;
    font-size: 2rem;
  } 
  .main_sns ul {
    width: 100vw;
    margin-left: 8rem;
  }
  .photo_both {
    width: 100%;   
  }
  .gallery .photo_both a.btn {
    width: 100%;
  }
  .academy .photo_both #btn_01 {
    width: 100%;
  }
  .times_list li:nth-child(n+1) {
    margin-left: 13rem;
  } 
  .times_list li:nth-child(2n) {
    margin-left: 13rem;
    margin-top: 4rem;
  }
  .gallery-academy p.subject {
    font-size: 1.6rem;
  }
  .gallery {
    width: 100%;
  }
  .galley_txt {
    text-align: center;
  }
}
@media (max-width: 650px){
  .times_list li:nth-child(n+1) {
  margin-left: 8rem;
}
  
  .times_list li:nth-child(2n) {
  margin-left: 8rem;
  margin-top: 4rem;
}
}
@media (max-width: 490px) {
  .sns_h1 h1 {
    font-size: 1.7rem;
  }
  .main_sns ul li {
    margin-left: 4.5rem;
    margin-bottom: 2rem;
  }
  .sns_h1 h1 {
    margin-bottom: 2rem;
    width: 100vw;
    margin-left: 10rem;
    font-size: 2rem;
  }
  .main_sns ul {
    width: 100%;
    margin: 0;
  }
  .photo_both {
    width: 100%;
  }
  #main_times {
    margin: -3.5rem;
  }
} 

